*{
    margin: 0;
    padding: 0px;
    font-family: 'Jua', sans-serif;
}
header{
    display: inline-block;
    position: fixed;
    width: 100vw;
}

header>#header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    height: 3rem;
    padding-top: 0.3rem;
    font-size: 2rem;
    color: #e83c77;
}
header>#color-line{
    background-color: #e83c77;
    height: 0.4rem;
    width: 100%;
}
header>div#logo-line{
    background-color: #e83c77;
    color: white;
    text-align: center;
    font-size: 2rem;
}
div#zero-page{
    height: 30vh;
}
div#intro-page>p{
    text-align: center;
    font-size: 3.5rem;
}
div#intro-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}
div#intro-page>div>button#go-to-dimimarket{
    display: inline-block;
    padding: 1rem;
    font-size: 2rem;
    border: none;
    background-color: white;
    border-radius: 3rem;
}

div#intro-page>div>button#go-to-dimimarket:hover{
    cursor: pointer;
}

img#bottom-img{
    bottom: 0;
    position: fixed;
    width: 100vw;
    z-index: -1;
}
div#intropage>div#parent-of-button{
    text-align: center;
}