*{
    margin: 0;
    padding: 0px;
    font-family: 'Jua', sans-serif;
}
header>#header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    height: 3rem;
    padding-top: 0.3rem;
    font-size: 2rem;
    color: #e83c77;
}
header>#color-line{
    background-color: #e83c77;
    height: 0.4rem;
    width: 100%;
}
div#intro-page>p{
    text-align: center;
    font-size: 3.5rem;
}
div#intro-page{
    display: flex;
    flex-direction: column;
    height: 50vw;
}
div#intro-page>button#go-to-dimimarket{
    display: flex;
    flex-direction: row;
    width: 30vw;
    font-size: 2rem;
}
div#intro-page>button#go-to-dimimarket>p{
    text-align: center;
}

img#bottom-img{
    bottom: 0;
    position: fixed;
    width: 100vw;
    z-index: -1;
}