<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div id="login-box">
        <form action="/login" method="post">
            <input type="text" name="user_id" placeholder="id를 입력해주세요">
            <input type="text" name="user_pw" placeholder="비밀번호를 입력해주세요">
            <button>로그인</button>
        </form>
    </div>
</body>
</html>