<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
</head>
<body>
    <div id="product-box">
        <h3 id="product-box-title">title : <%=title[0]%></h3>
        <p id="product-box-contents">description :</p>
    </div>
</body>
</html>