<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-description</title>
    <link rel="stylesheet" href="./css/product-desc.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
    </style>
</head>
<body>
    <header>
        <div id="logo-line">
            <p>DIMI MARKET</p>
        </div>
        <div id="header-container">
            <ul id="home">홈</ul>
            <ul id="search">검색</ul>
            <ul id="profile">프로필</ul>
        </div>
        <div id="color-line"></div>
    </header>
    <div id="zero-page"></div>
</body>
</html>